  /* nav bar css */
h3 {
  margin-bottom: 20px;  
}

.navbar {
  margin-bottom: 40px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

form#attempt_question{
}