@media (min-width: 1200px){
.container {
    max-width: 720px;
  }
}

@media (min-width: 992px){
.container {
    max-width: 720px;
  }
}

h3 {
  margin-bottom: 20px;  
}

.navbar {
  margin-bottom: 40px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navbar ul li.sentence a {
  display: inline;
  padding: 0px
}

form#attempt_question{
}


.completed_container {
  margin-top: 30px;
  display: none;
}

.completed_container {
  margin-bottom: : 10px;
  /*display: none;*/
}