{% extends "layout.html" %}

{% block content %}

<h3 style="margin-top:30px;">Welcome to PSLEMCQs.com!</h3>

<p>Hi, I am a P6 student in Taonan. I built this with help from my Dad to help fellow P6 students prepare for their PSLE. Currently, there are only English questions.</p>

<p> The inspiration of this site was when I realised that mistakes is how we learn, but tracking wrong questions were very tedious. So this website makes it <b> easy to do questions and track the wrong ones for easy reflection and learning.</b>

<p>Credits for questions goes to all the wonderful primary schools in Singapore and their great teachers, and sites like sgtestpaper for gathering the papers.</p>

<div  style="margin-top:30px; ">
  <a href="/get_new_question"><button type="button" class="btn btn-primary" style="font-size: 120%">Try MCQs now! </button></a>
</div>

<div style="margin-top:10px; ">
  <small>
    Or you can directly <a href="/register">register</a> or <a href="login">login</a> to be able to easily access your attempts and mistakes!
  </small>
</div>


{% endblock %}