{% extends "layout.html" %}

{% block content %}

<a href="/register"> Register </a>  | <a href="/login"> Login </a> 

<h3>Welcome to PSLEMCQs.com!</h3>

<p>This website was built by a primary 6 student with his Dad for all primary 6 students to prepare for their PSLE. Currently, there is only english mcqs in this website for simplicity.</p>

<p>The website was built when he realised that tracking down wrong questions were very tedious and wanted a solution.However,they still wanted to learn from the mistakes and believed that mistakes is how they learn.So the website also tracks down wrong questions. </p>

<p>Credits :All the wonderful primary schools in Singapore and their great teachers, <a href="https://www.sgtestpaper.com/">sgtestpaper</a> for gathering the questions</p>


<a href="/get_new_question"><button type="button" class="btn btn-primary">Try MCQs now! </button></a>

{% endblock %}