<a href="/register"> Register </a>  | <a href="/login"> Login </a> 

<h1><b>Welcome to pslemcq.com</b></h1>

<p>This website was built by a primary 6 student with his Dad for all primary 6 students to prepare for their PSLE. Currently, there is only english mcqs.</p>

<p>The website was built when they realised that trackingdown wrong questions were very tedious and wanted a solution.However,they still wanted to learn from the mistakes and believed that mistakes is how they learn.So the website also tracks down wrong questions. </p>

<p>credits :all the wonderful primary schools in Singapore and their great teachers, <a href="https://www.sgtestpaper.com/">sgtestpaper</a> for gathering the questions</p>

<a href="/question/random">try mcqs now </a>