<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">PSLEMCQs</a>
    <div class="navbar-header navbar-right pull-right">

      {% if logged_in()==False %}
      <ul>        
        <li class="sentence">
          <a href="/register">Register</a> or <a href="login">login</a> to review questions you got wrong!</li>
      </ul>
      {% endif %}

      {% if logged_in() == True %}
      {% set num = current_user().attempt_count() %}
      {% set wrong = current_user().wrong_count() %}

      <ul>        
        <li><a href="/get_new_question">Do MCQs!</a></li>
        <li><a href="/questions/attempted">Attempted ({{num}})</a></li>
        <li><a href="/logout">logout</a></li>
      </ul>
      {% endif %}

    </div>
  </div>
</nav>
