{% extends "layout.html" %}

{% include "menu.html"%}

{% block content %}

<form id="attempt_question" data-qid= "{{question.id}}">
<p>Q: {{question.text}}</p>

<p><b>Tap Answer:</b></p>
<div class="form-check">
  <ol>
    {% for n in range(question.options|length) %}
    <li>
      <input type="radio" class="form-check-input" id="materialUnchecked-{{n}}" name="materialExampleRadios" value={{n+1}}>
      <label class="form-check-label" for="materialUnchecked-{{n}}">{{question.options[n]}}</label>
    </li>
    {% endfor %}
  </ol>
</div>
<div>
  <button type="submit"> Confirm </button>
</div>
</form>

<div id = "message">

</div>

<div class="completed_container">
  <div class="message">
    Message Here
  </div>
  <h5 ><a href="javascript:window.location.reload(true)" id = "next" > Next Question </a></h5>
</div>

{% endblock %}