{% extends "layout.html" %}

{% include "menu.html"%}

{% block content %}

<form id="attempt_question" data-qid= "{{question.id}}">
<p>Q: {{question.text}}</p>

<p><b>Tap Answer:</b></p>
<div class="form-check">
  <ol>
    {% for n in range(question.options|length) %}
    <li>
      <input type="radio" class="form-check-input" id="materialUnchecked-{{n}}" name="materialExampleRadios" value={{n}}>
      <label class="form-check-label" for="materialUnchecked-{{n}}">{{question.options[n]}}</label>
    </li>
    {% endfor %}
  </ol>
</div>

<div>
  <button type="submit"> Confirm </button>
</div>
</form>

<a style = "visibility: hidden;" href="#" id = "next" > next question </a>

{% endblock %}